In [33]:
#Initial Imports
import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

# Load .env environment variables
print(load_dotenv())

True

In [34]:
# Current Amount of Shares 
ADP = 1000
BR = 500
CDK = 950

In [35]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [36]:
# Format current date as ISO format
current_date = pd.Timestamp("2021-10-13", tz="America/New_York").isoformat()

In [37]:
# Set the tickers
tickers = ["ADP", "BR", "CDK"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for ADP, BR, and CDK
df_ticker = api.get_barset(
    tickers,
    timeframe,     limit=1000
).df

# Preview DataFrame
df_ticker

                              ADP                                       \
                             open    high       low   close     volume
time
2017-10-26 00:00:00-04:00  117.26  117.85  116.7100  117.30  1239847.0
2017-10-27 00:00:00-04:00  116.90  118.47  116.2800  118.25  1124946.0
2017-10-30 00:00:00-04:00  118.02  118.17  116.5500  116.99  1032209.0
2017-10-31 00:00:00-04:00  116.88  117.14  116.0100  116.26  1160370.0
2017-11-01 00:00:00-04:00  116.40  116.77  114.6900  115.40  2062402.0
...                           ...     ...       ...     ...        ...
2021-10-13 00:00:00-04:00  205.18  205.76  202.2511  205.23   731221.0
2021-10-14 00:00:00-04:00  206.36  208.95  206.2100  208.55   856891.0
2021-10-15 00:00:00-04:00  209.83  213.05  209.1400  213.01  1197758.0
2021-10-18 00:00:00-04:00  211.44  213.65  210.5000  212.65   844906.0
2021-10-19 00:00:00-04:00  213.33  214.08  211.7300  214.07   630972.0

                               BR                                        CDK  \
                             open    high      low    close    volume   open
time
2017-10-26 00:00:00-04:00     NaN     NaN      NaN      NaN       NaN    NaN
2017-10-27 00:00:00-04:00   85.58   85.97   84.810   85.940  256579.0  66.60
2017-10-30 00:00:00-04:00   85.96   85.96   85.200   85.641  188716.0  66.94
2017-10-31 00:00:00-04:00   85.69   86.22   85.520   85.910  232972.0  64.00
2017-11-01 00:00:00-04:00   86.14   86.72   85.880   86.440  291008.0  63.95
...                           ...     ...      ...      ...       ...    ...
2021-10-13 00:00:00-04:00  171.07  172.78  169.760  172.680  276223.0  43.71
2021-10-14 00:00:00-04:00  173.99  178.19  173.510  178.050  419405.0  44.64
2021-10-15 00:00:00-04:00  178.77  180.06  178.480  179.940  335478.0  45.22
2021-10-18 00:00:00-04:00  179.50  179.50  177.575  177.970  531774.0  44.60
2021-10-19 00:00:00-04:00  178.41  180.93  177.440  180.910  359470.0  43.17


                             high    low  close     volume
time
2017-10-26 00:00:00-04:00     NaN    NaN    NaN        NaN
2017-10-27 00:00:00-04:00  67.490  66.60  67.05   356333.0
2017-10-30 00:00:00-04:00  66.940  66.31  66.37   461594.0
2017-10-31 00:00:00-04:00  64.160  61.87  63.55  2060046.0
2017-11-01 00:00:00-04:00  64.360  62.41  62.99  1322956.0
...                           ...    ...    ...        ...
2021-10-13 00:00:00-04:00  44.290  43.52  44.27   554541.0
2021-10-14 00:00:00-04:00  45.195  44.62  45.05   447284.0
2021-10-15 00:00:00-04:00  45.330  44.76  44.80   574454.0
2021-10-18 00:00:00-04:00  44.600  43.05  43.08   764198.0
2021-10-19 00:00:00-04:00  44.050  43.05  44.01   735748.0

[1002 rows x 15 columns]

In [38]:
# Pick ADP, BR and CDK close prices
ADP_close_price = df_ticker['ADP']['close'][1000]
BR_close_price = df_ticker['BR']['close'][1000]
CDK_close_price = df_ticker['CDK']['close'][1000]

# Print ADP, BR and CDK close prices
print(f"Current ADP closing price: $(adp_close_price)")
print(f"Current BR closing price: $(br_close_price)")
print(f"Current CDK closing price: $(cdk_close_price)")

Current ADP closing price: $(adp_close_price)
Current BR closing price: $(br_close_price)
Current CDK closing price: $(cdk_close_price)

In [39]:
#Compute the current value of shares
adp_value = ADP_close_price * ADP
br_value = BR_close_price * BR
cdk_value = CDK_close_price * CDK

In [40]:
# print current values of shares
print(f"The current value of {ADP} ADP shares is ${adp_value:0.2f}")
print(f"The current value of {BR} BR shares is ${br_value:0.2f}")
print(f"The current value of {CDK} CDK shares is ${cdk_value:0.2f}")

The current value of 1000 ADP shares is $212650.00
The current value of 500 BR shares is $88985.00
The current value of 950 CDK shares is $40926.00

In [41]:
# Calculate Anthon Portfolio Value
anthon_portfolio = adp_value + br_value + cdk_value
print('Anthon portfolio value:', anthon_portfolio)

Anthon portfolio value: 342561.0

In [42]:
#Investor Anthon has requested a proposed portfolio that would generate greater returns at an equal or lesser risk level
#The Portfolio selected and proposed is a combination of four powerful tech giants; one controls the internet search world, one, Apple who leads in cellphone and notebook world and Another l
#leads in supporting technology NVDA, the fourth has moved from rental videos to streaming media and content creation;; netflix.
#The proposed portfolio carries the four stock, selecting shares numbers that provide an equal portfolio value.

In [43]:
# Amount of Shares in Proposed Portfolio
AAPL = 500
GOOG = 48
NFLX = 100
NVDA = 320

In [44]:
# Set the tickers
tickers = ["AAPL", "GOOG", "NFLX", "NVDA"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for AAPL, GOOG, NFLX, NVDA
df_tickernew = api.get_barset(
    tickers,
    timeframe,
     limit=1000
).df

# Preview DataFrame
df_tickernew

                              AAPL                                          \
                              open      high     low     close      volume
time
2017-10-26 00:00:00-04:00      NaN       NaN     NaN       NaN         NaN
2017-10-27 00:00:00-04:00      NaN       NaN     NaN       NaN         NaN
2017-10-30 00:00:00-04:00  163.890  168.0700  163.72  166.7200  37107049.0
2017-10-31 00:00:00-04:00  167.900  169.6499  166.94  169.0500  28536890.0
2017-11-01 00:00:00-04:00  169.870  169.9400  165.61  166.8700  27873344.0
...                            ...       ...     ...       ...         ...
2021-10-13 00:00:00-04:00  141.200  141.4000  139.20  140.9600  66616125.0
2021-10-14 00:00:00-04:00  142.090  143.8800  141.51  143.7554  55481541.0
2021-10-15 00:00:00-04:00  143.720  144.8950  143.51  144.8300  58199725.0
2021-10-18 00:00:00-04:00  143.445  146.8400  143.16  146.5400  68766235.0
2021-10-19 00:00:00-04:00  146.990  149.1700  146.55  148.7800  67213915.0

                              GOOG                                         \
                              open      high      low    close     volume
time
2017-10-26 00:00:00-04:00      NaN       NaN      NaN      NaN        NaN
2017-10-27 00:00:00-04:00      NaN       NaN      NaN      NaN        NaN
2017-10-30 00:00:00-04:00  1014.00  1024.970  1007.50  1017.11  1148717.0
2017-10-31 00:00:00-04:00  1015.22  1024.000  1010.42  1016.65   752756.0
2017-11-01 00:00:00-04:00  1017.21  1029.670  1016.95  1025.09   761848.0
...                            ...       ...      ...      ...        ...
2021-10-13 00:00:00-04:00  2755.00  2771.000  2739.53  2761.33   589916.0
2021-10-14 00:00:00-04:00  2798.01  2833.030  2786.78  2828.21   854279.0
2021-10-15 00:00:00-04:00  2840.20  2844.000  2821.29  2834.11   877639.0
2021-10-18 00:00:00-04:00  2824.27  2859.975  2824.27  2857.66   610620.0
2021-10-19 00:00:00-04:00  2866.65  2882.140  2861.92  2877.89   596284.0

                             NFLX                                         \
                             open      high       low   close     volume
time
2017-10-26 00:00:00-04:00     NaN       NaN       NaN     NaN        NaN
2017-10-27 00:00:00-04:00     NaN       NaN       NaN     NaN        NaN
2017-10-30 00:00:00-04:00  199.62  201.0990  197.0721  198.31  4222673.0
2017-10-31 00:00:00-04:00  198.21  198.5900  195.2180  196.43  4197624.0
2017-11-01 00:00:00-04:00  197.24  199.1990  196.0000  197.99  4004807.0
...                           ...       ...       ...     ...        ...
2021-10-13 00:00:00-04:00  630.65  632.1791  622.1000  629.88  2036706.0
2021-10-14 00:00:00-04:00  633.51  636.8800  626.7900  633.80  2422148.0
2021-10-15 00:00:00-04:00  638.01  639.4200  625.1600  628.49  3690074.0
2021-10-18 00:00:00-04:00  632.23  638.4100  620.5901  638.12  3930282.0
2021-10-19 00:00:00-04:00  637.01  641.0000  632.3000  639.46  5122338.0

                             NVDA
                             open      high       low   close      volume
time
2017-10-26 00:00:00-04:00  194.91  196.1600  193.8100  195.59   6727585.0
2017-10-27 00:00:00-04:00  197.79  201.8700  196.7500  201.75  12112237.0
2017-10-30 00:00:00-04:00  201.86  206.0899  201.2200  203.76  10639517.0
2017-10-31 00:00:00-04:00  205.10  207.8900  204.9000  206.75   8234024.0
2017-11-01 00:00:00-04:00  209.35  209.9700  204.6000  207.20  10623453.0
...                           ...       ...       ...     ...         ...
2021-10-13 00:00:00-04:00  209.25  209.9000  207.1300  209.47  15264906.0
2021-10-14 00:00:00-04:00  212.72  217.5500  211.2201  217.46  21348031.0
2021-10-15 00:00:00-04:00  218.08  219.3100  216.6200  218.62  19666970.0
2021-10-18 00:00:00-04:00  217.39  222.9100  216.4400  222.22  16368015.0
2021-10-19 00:00:00-04:00  222.78  223.7900  220.3700  222.94  14690651.0

[1002 rows x 20 columns]

In [45]:
# Pick AAPL, GOOG, NFLX, and NVDA close prices
AAPL_close_price = df_tickernew['AAPL']['close'][-1]
GOOG_close_price = df_tickernew['GOOG']['close'][-1]
NFLX_close_price = df_tickernew['NFLX']['close'][-1]
NVDA_close_price = df_tickernew['NVDA']['close'][-1]

# Print AAPL, GOOG, NFLX, and NVDA close prices
print(f"Current AAPL closing price: ${AAPL_close_price}")
print(f"Current GOOG closing price: ${GOOG_close_price}")
print(f"Current NFLX closing price: ${NFLX_close_price}")
print(f"Current NVDA closing price: ${NVDA_close_price}")

Current AAPL closing price: $148.78
Current GOOG closing price: $2877.89
Current NFLX closing price: $639.46
Current NVDA closing price: $222.94

In [46]:
#Compute the current value of shares
aapl_value = AAPL_close_price * AAPL
goog_value = GOOG_close_price * GOOG
nflx_value = NFLX_close_price * NFLX
nvda_value = NVDA_close_price * NVDA

In [47]:
# print current values of shares
print(f"The current value of {AAPL} AAPL shares is ${aapl_value:0.2f}")
print(f"The current value of {GOOG} GOOG shares is ${goog_value:0.2f}")
print(f"The current value of {NFLX} NFLX shares is ${nflx_value:0.2f}")
print(f"The current value of {NVDA} NVDA shares is ${nvda_value:0.2f}")

The current value of 500 AAPL shares is $74390.00
The current value of 48 GOOG shares is $138138.72
The current value of 100 NFLX shares is $63946.00
The current value of 320 NVDA shares is $71340.80

In [48]:
# Calculate Proposed Portfolio Value
proposed_portfolio = aapl_value + goog_value + nflx_value +nvda_value
print(f'Proposed portfolio value: ${proposed_portfolio:0.2f}')

Proposed portfolio value: $347815.52