In [1]:
#Initial Imports
import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

# Load .env environment variables
load_dotenv()

True

In [2]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [3]:
# Format current date as ISO format
current_date = pd.Timestamp("2021-10-13", tz="America/New_York").isoformat()

In [4]:
# Set the tickers
tickers = ["ADP","BR","CDK","AAPL","GOOG","NVDA","NTFX"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for ADP, BR,CDK, AAPL, GOOG, NVDA, NTFX
df_ticker = api.get_barset(
    tickers,
    timeframe,
     limit=1000
).df

# Preview DataFrame
df_ticker

                             AAPL                                            \
                             open      high       low     close      volume
time
2017-10-24 04:00:00+00:00     NaN       NaN       NaN       NaN         NaN
2017-10-25 04:00:00+00:00     NaN       NaN       NaN       NaN         NaN
2017-10-26 04:00:00+00:00  157.23  157.8295  156.7800  157.4200  12374254.0
2017-10-27 04:00:00+00:00  159.29  163.6000  158.7000  163.0300  36735155.0
2017-10-30 04:00:00+00:00  163.89  168.0700  163.7200  166.7200  37107049.0
...                           ...       ...       ...       ...         ...
2021-10-11 04:00:00+00:00  142.30  144.8100  141.8100  142.8000  55706039.0
2021-10-12 04:00:00+00:00  143.23  143.2500  141.0401  141.4600  57465598.0
2021-10-13 04:00:00+00:00  141.20  141.4000  139.2000  140.9600  66616125.0
2021-10-14 04:00:00+00:00  142.09  143.8800  141.5100  143.7554  55481541.0
2021-10-15 04:00:00+00:00  143.72  144.8950  143.5100  144.8300  58199725.0

                              ADP                                       ...  \
                             open    high       low   close     volume  ...
time                                                                    ...
2017-10-24 04:00:00+00:00     NaN     NaN       NaN     NaN        NaN  ...
2017-10-25 04:00:00+00:00     NaN     NaN       NaN     NaN        NaN  ...
2017-10-26 04:00:00+00:00  117.26  117.85  116.7100  117.30  1239847.0  ...
2017-10-27 04:00:00+00:00  116.90  118.47  116.2800  118.25  1124946.0  ...
2017-10-30 04:00:00+00:00  118.02  118.17  116.5500  116.99  1032209.0  ...
...                           ...     ...       ...     ...        ...  ...
2021-10-11 04:00:00+00:00  205.50  205.76  203.6300  203.73   674420.0  ...
2021-10-12 04:00:00+00:00  203.79  204.64  203.0100  203.79   783453.0  ...
2021-10-13 04:00:00+00:00  205.18  205.76  202.2511  205.23   731221.0  ...
2021-10-14 04:00:00+00:00  206.36  208.95  206.2100  208.55   856891.0  ...
2021-10-15 04:00:00+00:00  209.83  213.05  209.1400  213.01  1197758.0  ...

                          NTFX                           NVDA            \
                          open high  low close volume    open      high
time
2017-10-24 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  196.99  198.7400
2017-10-25 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  197.08  199.2200
2017-10-26 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  194.91  196.1600
2017-10-27 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  197.79  201.8700
2017-10-30 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  201.86  206.0899
...                        ...  ...  ...   ...    ...     ...       ...
2021-10-11 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  205.98  210.6300
2021-10-12 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  208.49  210.5700
2021-10-13 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  209.25  209.9000
2021-10-14 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  212.72  217.5500
2021-10-15 04:00:00+00:00  NaN  NaN  NaN   NaN    NaN  218.08  219.3100


                                low   close      volume
time
2017-10-24 04:00:00+00:00  195.9400  198.67   8679881.0
2017-10-25 04:00:00+00:00  191.1700  193.64  17900060.0
2017-10-26 04:00:00+00:00  193.8100  195.59   6727585.0
2017-10-27 04:00:00+00:00  196.7500  201.75  12112237.0
2017-10-30 04:00:00+00:00  201.2200  203.76  10639517.0
...                             ...     ...         ...
2021-10-11 04:00:00+00:00  205.1100  206.89  13864462.0
2021-10-12 04:00:00+00:00  205.2800  206.68  14618229.0
2021-10-13 04:00:00+00:00  207.1300  209.47  15264906.0
2021-10-14 04:00:00+00:00  211.2201  217.46  21348031.0
2021-10-15 04:00:00+00:00  216.6200  218.62  19666970.0

[1002 rows x 35 columns]