In [1]:
#Initial Imports
import os
import requests
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

# Load .env environment variables
load_dotenv()

True

In [2]:
# Current Amount of Shares 
ADP = 1000
BR = 500
CDK = 950

In [3]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [4]:
# Format current date as ISO format
current_date = pd.Timestamp("2021-10-13", tz="America/New_York").isoformat()

In [5]:
# Set the tickers
tickers = ["ADP", "BR", "CDK"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for ADP, BR, and CDK
df_ticker = api.get_barset(
    tickers,
    timeframe,     limit=1000
).df

# Preview DataFrame
df_ticker

                              ADP                                       \
                             open    high       low   close     volume
time
2017-10-24 00:00:00-04:00  116.69  117.30  116.0600  116.47  1115113.0
2017-10-25 00:00:00-04:00  116.28  116.72  115.1400  116.34  1312645.0
2017-10-26 00:00:00-04:00  117.26  117.85  116.7100  117.30  1239847.0
2017-10-27 00:00:00-04:00  116.90  118.47  116.2800  118.25  1124946.0
2017-10-30 00:00:00-04:00  118.02  118.17  116.5500  116.99  1032209.0
...                           ...     ...       ...     ...        ...
2021-10-11 00:00:00-04:00  205.50  205.76  203.6300  203.73   674420.0
2021-10-12 00:00:00-04:00  203.79  204.64  203.0100  203.79   783453.0
2021-10-13 00:00:00-04:00  205.18  205.76  202.2511  205.23   731221.0
2021-10-14 00:00:00-04:00  206.36  208.95  206.2100  208.55   856891.0
2021-10-15 00:00:00-04:00  209.83  213.05  209.1400  213.01  1197758.0

                               BR                                         CDK  \
                             open      high     low    close    volume   open
time
2017-10-24 00:00:00-04:00     NaN       NaN     NaN      NaN       NaN    NaN
2017-10-25 00:00:00-04:00   84.40   84.5600   83.78   84.250  212833.0  66.85
2017-10-26 00:00:00-04:00   84.58   85.2900   84.35   85.109  208794.0  66.34
2017-10-27 00:00:00-04:00   85.58   85.9700   84.81   85.940  256579.0  66.60
2017-10-30 00:00:00-04:00   85.96   85.9600   85.20   85.641  188716.0  66.94
...                           ...       ...     ...      ...       ...    ...
2021-10-11 00:00:00-04:00  168.66  169.4784  167.61  168.330  235422.0  43.61
2021-10-12 00:00:00-04:00  169.22  171.4300  168.34  170.710  370218.0  43.26
2021-10-13 00:00:00-04:00  171.07  172.7800  169.76  172.680  276223.0  43.71
2021-10-14 00:00:00-04:00  173.99  178.1900  173.51  178.050  419405.0  44.64
2021-10-15 00:00:00-04:00  178.77  180.0600  178.48  179.940  335478.0  45.22


                              high    low  close    volume
time
2017-10-24 00:00:00-04:00      NaN    NaN    NaN       NaN
2017-10-25 00:00:00-04:00  66.9999  65.94  66.05  432138.0
2017-10-26 00:00:00-04:00  67.2700  66.19  66.67  481536.0
2017-10-27 00:00:00-04:00  67.4900  66.60  67.05  356333.0
2017-10-30 00:00:00-04:00  66.9400  66.31  66.37  461594.0
...                            ...    ...    ...       ...
2021-10-11 00:00:00-04:00  44.0400  43.40  43.40  244871.0
2021-10-12 00:00:00-04:00  43.8350  43.26  43.76  370162.0
2021-10-13 00:00:00-04:00  44.2900  43.52  44.27  554541.0
2021-10-14 00:00:00-04:00  45.1950  44.62  45.05  447284.0
2021-10-15 00:00:00-04:00  45.3300  44.76  44.80  574454.0

[1002 rows x 15 columns]

In [6]:
# Pick ADP, BR and CDK close prices
ADP_close_price = df_ticker['ADP']['close'][1000]
BR_close_price = df_ticker['BR']['close'][1000]
CDK_close_price = df_ticker['CDK']['close'][1000]

# Print ADP, BR and CDK close prices
print(f"Current ADP closing price: $(adp_close_price)")
print(f"Current BR closing price: $(br_close_price)")
print(f"Current CDK closing price: $(cdk_close_price)")

Current ADP closing price: $(adp_close_price)
Current BR closing price: $(br_close_price)
Current CDK closing price: $(cdk_close_price)

In [7]:
#Compute the current value of shares
adp_value = ADP_close_price * ADP
br_value = BR_close_price * BR
cdk_value = CDK_close_price * CDK

In [8]:
# print current values of shares
print(f"The current value of {ADP} ADP shares is ${adp_value:0.2f}")
print(f"The current value of {BR} BR shares is ${br_value:0.2f}")
print(f"The current value of {CDK} CDK shares is ${cdk_value:0.2f}")

The current value of 1000 ADP shares is $208550.00
The current value of 500 BR shares is $89025.00
The current value of 950 CDK shares is $42797.50

In [9]:
# Calculate Anthon Portfolio Value
anthon_portfolio = adp_value + br_value + cdk_value
print('Anthon portfolio value:', anthon_portfolio)

Anthon portfolio value: 340372.5

In [10]:
#Investor Anthon has requested a proposed portfolio that would generate greater returns at an equal or lesser risk level
#The Portfolio selected and proposed is a combination of four powerful tech giants; one controls the internet search world, one, Apple who leads in cellphone and notebook world and Another l
#leads in supporting technology NVDA, the fourth has moved from rental videos to streaming media and content creation;; netflix.
#The proposed portfolio carries the four stock, selecting shares numbers that provide an equal portfolio value.

In [11]:
# Amount of Shares in Proposed Portfolio
AAPL = 500
GOOG = 48
NFLX = 100
NVDA = 320

In [12]:
# Set the tickers
tickers = ["AAPL", "GOOG", "NFLX", "NVDA"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get current closing prices for AAPL, GOOG, NFLX, NVDA
df_tickernew = api.get_barset(
    tickers,
    timeframe,
     limit=1000
).df

# Preview DataFrame
df_tickernew

                             AAPL                                            \
                             open      high       low     close      volume
time
2017-10-24 00:00:00-04:00     NaN       NaN       NaN       NaN         NaN
2017-10-25 00:00:00-04:00     NaN       NaN       NaN       NaN         NaN
2017-10-26 00:00:00-04:00  157.23  157.8295  156.7800  157.4200  12374254.0
2017-10-27 00:00:00-04:00  159.29  163.6000  158.7000  163.0300  36735155.0
2017-10-30 00:00:00-04:00  163.89  168.0700  163.7200  166.7200  37107049.0
...                           ...       ...       ...       ...         ...
2021-10-11 00:00:00-04:00  142.30  144.8100  141.8100  142.8000  55706039.0
2021-10-12 00:00:00-04:00  143.23  143.2500  141.0401  141.4600  57465598.0
2021-10-13 00:00:00-04:00  141.20  141.4000  139.2000  140.9600  66616125.0
2021-10-14 00:00:00-04:00  142.09  143.8800  141.5100  143.7554  55481541.0
2021-10-15 00:00:00-04:00  143.72  144.8950  143.5100  144.8300  58199725.0

                              GOOG                                           \
                              open       high      low     close     volume
time
2017-10-24 00:00:00-04:00      NaN        NaN      NaN       NaN        NaN
2017-10-25 00:00:00-04:00      NaN        NaN      NaN       NaN        NaN
2017-10-26 00:00:00-04:00   980.00   987.6000   972.20   972.490   997799.0
2017-10-27 00:00:00-04:00  1009.19  1048.3900  1008.20  1019.250  3294512.0
2017-10-30 00:00:00-04:00  1014.00  1024.9700  1007.50  1017.110  1148717.0
...                            ...        ...      ...       ...        ...
2021-10-11 00:00:00-04:00  2796.00  2815.2725  2776.13  2776.160   691579.0
2021-10-12 00:00:00-04:00  2792.75  2793.9000  2725.00  2735.085   980224.0
2021-10-13 00:00:00-04:00  2755.00  2771.0000  2739.53  2761.330   589916.0
2021-10-14 00:00:00-04:00  2798.01  2833.0300  2786.78  2828.210   854279.0
2021-10-15 00:00:00-04:00  2840.20  2844.0000  2821.29  2834.110   877639.0

                             NFLX                                         \
                             open      high       low   close     volume
time
2017-10-24 00:00:00-04:00     NaN       NaN       NaN     NaN        NaN
2017-10-25 00:00:00-04:00     NaN       NaN       NaN     NaN        NaN
2017-10-26 00:00:00-04:00  194.66  197.6100  194.0800  195.21  4140148.0
2017-10-27 00:00:00-04:00  197.20  200.6500  196.2200  199.52  6527285.0
2017-10-30 00:00:00-04:00  199.62  201.0990  197.0721  198.31  4222673.0
...                           ...       ...       ...     ...        ...
2021-10-11 00:00:00-04:00  633.51  639.4200  626.7800  626.82  2592977.0
2021-10-12 00:00:00-04:00  633.02  637.6550  621.9900  624.94  2978188.0
2021-10-13 00:00:00-04:00  630.65  632.1791  622.1000  629.88  2036706.0
2021-10-14 00:00:00-04:00  633.51  636.8800  626.7900  633.80  2422148.0
2021-10-15 00:00:00-04:00  638.01  639.4200  625.1600  628.49  3690074.0

                             NVDA
                             open      high       low   close      volume
time
2017-10-24 00:00:00-04:00  196.99  198.7400  195.9400  198.67   8679881.0
2017-10-25 00:00:00-04:00  197.08  199.2200  191.1700  193.64  17900060.0
2017-10-26 00:00:00-04:00  194.91  196.1600  193.8100  195.59   6727585.0
2017-10-27 00:00:00-04:00  197.79  201.8700  196.7500  201.75  12112237.0
2017-10-30 00:00:00-04:00  201.86  206.0899  201.2200  203.76  10639517.0
...                           ...       ...       ...     ...         ...
2021-10-11 00:00:00-04:00  205.98  210.6300  205.1100  206.89  13864462.0
2021-10-12 00:00:00-04:00  208.49  210.5700  205.2800  206.68  14618229.0
2021-10-13 00:00:00-04:00  209.25  209.9000  207.1300  209.47  15264906.0
2021-10-14 00:00:00-04:00  212.72  217.5500  211.2201  217.46  21348031.0
2021-10-15 00:00:00-04:00  218.08  219.3100  216.6200  218.62  19666970.0

[1002 rows x 20 columns]

In [13]:
# Pick AAPL, GOOG, NFLX, and NVDA close prices
AAPL_close_price = df_tickernew['AAPL']['close'][-1]
GOOG_close_price = df_tickernew['GOOG']['close'][-1]
NFLX_close_price = df_tickernew['NFLX']['close'][-1]
NVDA_close_price = df_tickernew['NVDA']['close'][-1]

# Print AAPL, GOOG, NFLX, and NVDA close prices
print(f"Current AAPL closing price: $(aapl_close_price)")
print(f"Current GOOG closing price: $(goog_close_price)")
print(f"Current NFLX closing price: $(nflx_close_price)")
print(f"Current NVDA closing price: $(nvda_close_price)")

Current AAPL closing price: $(aapl_close_price)
Current GOOG closing price: $(goog_close_price)
Current NFLX closing price: $(nflx_close_price)
Current NVDA closing price: $(nvda_close_price)

In [14]:
#Compute the current value of shares
aapl_value = AAPL_close_price * AAPL
goog_value = GOOG_close_price * GOOG
nflx_value = NFLX_close_price * NFLX
nvda_value = NVDA_close_price * NVDA

In [15]:
# print current values of shares
print(f"The current value of {AAPL} AAPL shares is ${aapl_value:0.2f}")
print(f"The current value of {GOOG} GOOG shares is ${goog_value:0.2f}")
print(f"The current value of {NFLX} NFLX shares is ${nflx_value:0.2f}")
print(f"The current value of {NVDA} NVDA shares is ${nvda_value:0.2f}")

The current value of 500 AAPL shares is $72415.00
The current value of 48 GOOG shares is $136037.28
The current value of 100 NFLX shares is $62849.00
The current value of 320 NVDA shares is $69958.40

In [16]:
# Calculate Proposed Portfolio Value
proposed_portfolio = aapl_value + goog_value + nflx_value +nvda_value
print(f'Proposed portfolio value: ${proposed_portfolio:0.2f}')

Proposed portfolio value: $341259.68

In [ ]:
)